.about-body{
    background-color: white;
  }
  
    .aboutus-image{
      width: 100%;
      max-width: 500px;
    }
  
    .about-img-content{
      justify-content: center;
      display: flex;
    }
  
    .h1-about{
      padding-top: 90px;
      text-align: center;
    }
  
    .aboutus-info{
      text-align: center;
      background-color: #313539;
      padding: 30px;
      margin: 30px;
    }

    .cta-aboutus{
      padding: 5px;
      fill: #ffffff;
    color: #ffffff;
    border-style: double;
    border-width: 3px 3px 3px;
    border-radius: 2px;
    }

    .cta-aboutus:hover{
      color: black;
      transition: .2s ease-in;
      box-shadow: inset 100px 0 0 0 #f2f2f2;
    }


    .h2-about{
      color: #ffffff;
    }


    .about-p{
      color: white;
    }