.h1-blogs{
    text-align: center;
    padding-top: 100px;
    font-size: xx-large;
    }
    
    .blogpost-images img{
        width: 500px;
        height: 400px;
        display: block;
        margin: 0 auto;
    }
    
    .blogpost-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    
    .api-blog{
      display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 30px;
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
        min-height: 100vh;
    }
    
    .api-blog img{
      width: 500px;
      height: 400px;
      display: block;
      margin: 0 auto;
    }
    
    .api-blog a{
      text-decoration: none;
      color: #000000;
    }
    
    .view-more-button{
      color: black;
      padding: 12px;
      background-color: #eaeaea;
      border-radius: 5px;
      width: 300px;
      font-size: larger;
      margin: 10px;
      cursor: pointer;
      border: none;
    }
     
    .view-more-button-container{
    text-align: center;
    }
    
    .view-more-button:hover{
      color: white;
      box-shadow: inset 300px 0 0 0 #0896fe;
    }
    
    .h1-style{
      padding-top: 90px;
      text-align: center;
    }

    @media only screen and (max-width: 1000px){
      .api-blog {
        grid-template-columns: 1fr;
      }
     }

     @media only screen and (max-width: 521px){
      .api-blog img {
        width: 100%;
      }
     }
