.form-container {
    max-width: 760px;
    margin: 0 auto;
    padding: 55px;
  }
  
  form {
    padding: 2em;
    border-radius: 1rem;
  }
  

  
.button-contact {
  color: white;
  padding: 12px;
  background-color: #0896fe;
  border-radius: 5px;
  width: 418px;
  font-size: larger;
  margin: 10px;
  cursor: pointer;
  border: none;
  margin-left: 15px;
  }
  
  .button-contact:hover{
      color: white;
      box-shadow: inset 600px 0 0 0 blue ;
    }

  .input-contact{
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
  }
  
  label {
    display: block;
    margin-top: 1rem;
    color: black;
  }
  
  .error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }
  
  .message {
    height: 55px;
    width: 104%;
    border-radius: 5px;
  }
  
  .h1-contact-us {
    margin-top: 50px;
    text-align: center;
  }


  .rel-pos{
    position: absolute;
    color: white;
  }

  form{
    background-color: white;
    padding: 50px;
  }


  @media only screen and (max-width: 740px){
    .h1-contact-us {
      padding-top: 150px;
    }
   }


   @media only screen and (max-width: 740px){
    .button-contact {
      width: 360px;
    }
   }
   

   @media only screen and (max-width: 550px){
    .button-contact {
      width: 290px;
    }
   }

   @media only screen and (max-width: 460px){
    .button-contact {
      width: 231px;
    }
   }

   @media only screen and (max-width: 425px){
    .button-contact {
      width: 180px;
    }
   }

