.form-container {
    max-width: 760px;
    margin: 0 auto;
    padding: 55px;
  }
  
  form {
    padding: 2em;
    border-radius: 1rem;
  }
  

  
.button-contact {
    margin-left: 11px;
    background: #5b2900;
    border: none;
    width: 100%;
    padding: 20px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
    font-size: larger;
  }
  
  .button-contact:hover {
    box-shadow: inset 700px 0 0 0 black;
  }

  .input-contact{
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
  }
  
  label {
    display: block;
    margin-top: 1rem;
  }
  
  .error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }
  
  .message {
    height: 55px;
    width: 104%;
  }
  
  .h1-contact-us {
    margin-top: 50px;
    text-align: center;
  }


  .rel-pos{
    position: absolute;
    color: white;
  }

  form{
    background-color: antiquewhite;
    padding: 50px;
  }