body {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 1 10%;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    padding-top: 10px;
  }
  
  
  a {
    text-decoration: none;
  }
  
  nav li {
    display: block;
    padding: 10px;
  }

  .cta-home {
    color: white;
    font-weight: 700;
  }

  .cta-home:hover{
    color: #ec7474;
    transition: .3s ease-in;
  }

  footer{
    color: white;
    background-color: #000000;
  }

  .logo{
    color: white;
    margin-left: 20px;
    font-size: 24px;
    font-style: italic;
    font-family: math;
    font-weight: 800;
  }

  .logo:hover{
    color: #ec7474;
    transition: .3s ease-in;
  }

  .search{
    margin-right: 20px;
  }
  /*Home page*/
 

.slidePosition{
display: flex;
align-items: center;
padding-top: 30px;
}

.slideContainer{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    margin: 0 20px;
}

.slideContainer img{
  width: 100%;
    height: 250px;
    object-fit: cover;
}

.slider-post{
  padding: 10px;
   min-width: 29vw;
}

.slider-images{
    padding: 10px;
    min-width: 29vw;
}

.sliderContainer img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.nextButton{
    border: 1px solid var(--type-clr);
    border-radius: 2rem;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 2rem;
}

.previousButton{
  border: 1px solid var(--type-clr);
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  width: 2rem;
}

.slider-content{
    transition: all 0.5s ease;
    text-decoration: none;
    color: #000000;
}

.sliderContainer{
  display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 20px;
}


.info{
    text-align: center;
    margin-bottom: 50px;
}


.about-cta{
    padding: 7px;
    border-color: black;
    color: white;
    background-color: black;
}

.about-cta:hover {
    box-shadow: inset 170px 0 0 0 black;
  }


.subscribe{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background-color: black;
    padding-bottom: 25px;
}

.subscribe-header{
    color: white;
}

.subscribe-text{
color: white;
}


.email-home{
    padding: 6px;  
}

.submit-home{
    padding: 3px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    color: white;
    font-size: large;
}


.soccer-images{
    width: 100%;
    height: 422px;
    margin-top: 40px;
    border-radius: 20px;
    object-fit: cover;
}

.home-images{
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
}

.h2-style{
  padding-top: 90px;
  text-align: center;
  font-size: xx-large;
}

.error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}


@media only screen and (max-width: 1200px){
  .slider-post{
    min-width: 44vw;
  }
}

@media only screen and (max-width: 800px){
  .slider-post{
    min-width: 84vw;
  }
}


 @media only screen and (max-width: 1200px){ 

  .slideContainer img {
    height: 32vw;
  }
   }

   @media only screen and (max-width: 800px){ 

    .slideContainer img {
      height: 55vw;
    }
     }


     @media only screen and (max-width: 700px){
      .soccer-images {
        height: 300px;
      }
     }